.revision-it-container(style="border-radius: 5px 5px 5px 5px; box-shadow: 1px 1px 2px #999999; padding: 10px;")
  .revision=link_to "#{@revision.hash_code[0,8]} #{@revision.log.each_line.first}", @revision.url
  .log(style="margin-left:10px")!=@revision.log.each_line.map(&method(:h)).to_a[1..-1].join("<br />")
